@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f3f4f6;
  --surface-color: #ffffff;
  --primary-color: #007BFF;
  --secondary-color: #58A6FF;
  --text-color: #1f2937;
  --text-light-color: #111827;
}

.dark {
  --bg-color: #0D1117;
  --surface-color: #161B22;
  --primary-color: #007BFF;
  --secondary-color: #58A6FF;
  --text-color: #C9D1D9;
  --text-light-color: #FFFFFF;
}

@theme {
  --color-background: var(--bg-color);
  --color-surface: var(--surface-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-text: var(--text-color);
  --color-text-light: var(--text-light-color);

  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-slide-up: slideUp 0.5s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-surface);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--color-primary), transparent 50%);
}

@layer utilities {
  :focus-visible {
    @apply outline-none ring-2 ring-primary ring-offset-2 ring-offset-background;
  }
}