@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-background: #0D1117;
  --color-surface: #161B22;
  --color-primary: #007BFF;
  --color-secondary: #58A6FF;
  --color-text: #C9D1D9;
  --color-text-light: #FFFFFF;

  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-slide-up: slideUp 0.5s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-surface);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--color-primary), transparent 50%);
}